<div class="card" *ngIf="product.payload.val().title" style="width: 18rem;">
  <img [src]="product.payload.val().ImageUrl" class="card-img-top" *ngIf="product.payload.val().ImageUrl">
  <div class="card-body">
    <h5 class="card-title"> {{product.payload.val().title}} </h5>
    <h5 class="card-title"> {{product.payload.val().Category}} </h5>
    <p class="card-text"> {{product.payload.val().price | currency: 'EG : ':true}} </p>

  </div>
  <div class="card-footer">
    <button *ngIf="getQunatity() === 0 else updateQuantity" (click)="addToCart()" class="btn btn-primary btn-block">
      Add to Card
    </button>
  </div>
  <ng-template #updateQuantity>
    <div class="row no-gutters">
      <div class="col-2">
        <button (click)="removeFromCart()"   class="btn btn-primary btn-block">
          -
        </button>
      </div>
      <div class="col text-center">
        {{ getQunatity() }} in Cart
      </div>
      <div class="col-2">
        <button (click)="addToCart()" class="btn btn-primary btn-block">
          +
        </button>
      </div>
    </div>
  </ng-template>
</div>
